openapi: "3.0.3"
info:
  title: Spending Journal API Definition
  description: A spending journal, also known as a spending diary, is API to record of your daily money transactions.
  termsOfService: https://spendingjournal.com./terms/
  contact:
    name: API Support
    url: https://spendingjournal.com/support/
    email: support@spendingjournal.com
  license:
    name: MIT license
    url: https://spendingjournal.com/license/
  version: 0.0.1
servers:
  - description: API server
    url: https://api.spendingjournal.com/v1

# path definitions and examples
paths: {}

components:
  schemas:
    SpendingDiary:
      type: object
      properties:
        month:
          type: string
          example: "October 2024"
        fixed Expenses:
          $ref: "#/components/schemas/FixedExpenses"
        genericExpenses:
          $ref: "#/components/schemas/GenericExpenses"
        creditExpenses:
          $ref: "#/components/schemas/CreditExpensesSimple"
        accountBalance:
          allOf:
            - $ref: "#/components/schemas/NamedValue"
        positiveCorrectionBalance:
          allOf:
            - $ref: "#/components/schemas/NamedValue"
        negativeCorrectionBalance:
          allOf:
            - $ref: "#/components/schemas/NamedValue"

    FixedExpenses:
      type: object
      properties:
        info:
          example: "Total R$130,00"
          allOf:
            - $ref: "#/components/schemas/NamedValue"
        expenses:
          type: array
          items:
            $ref: "#/components/schemas/Expense"
    GenericExpenses:
      type: object
      properties:
        title:
          type: string
          example: "Generic Expenses"
        total:
          allOf:
            - $ref: "#/components/schemas/NamedValue"
        expenses:
          type: array
          items:
            $ref: "#/components/schemas/Expense"
    CreditExpensesSimple:
      type: object
      properties:
        cardName:
          type: string
          example: "Bradesco Platinum"
        total:
          allOf:
            - $ref: "#/components/schemas/NamedValue"
        expenses:
          type: array
          items:
            $ref: "#/components/schemas/Expense"

    CreditExpensesDetailed:
      type: object
      properties:
        cardName:
          type: string
          example: "Bradesco Platinum"
        limitTotal:
          allOf:
            - $ref: "#/components/schemas/NamedValue"
        limitAvailable:
          allOf:
            - $ref: "#/components/schemas/NamedValue"
        nextInvoice:
          allOf:
            - $ref: "#/components/schemas/NamedValue"
        detailedExpenses:
          type: array
          items:
            $ref: "#/components/schemas/Expense"
        interestRefunds:
          allOf:
            - $ref: "#/components/schemas/NamedValue"
        prepayments:
          allOf:
            - $ref: "#/components/schemas/NamedValue"

    Expense:
      example: "Expense XYZ - R$130,00"
      allOf:
        - $ref: "#/components/schemas/NamedValue"
    NamedValue:
      type: object
      properties:
        name:
          type: string
        value:
          type: number
          format: float
          example: 50.00
